body {
    background-color: rgb(174, 229, 247);
    color: rgb(60, 2, 2);
    font-family: Arial; 
    margin: 0px;
    position: relative;
    z-index: -5;
}
main {
    background-color: rgb(174, 229, 247);
    color: rgb(68, 21, 21);
    font-family: Arial; 
    margin: 10px 20px 45px;
    position: relative;
    z-index: -5;
}
footer {
    background-color: black; 
    color: lightgreen; 
    padding: 15px; 
    font-size: 10pt; 
    font-style: italic; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
}
a {
    color: green;
    text-decoration: none;
    text-shadow: 1px 5px 2px greenyellow;
    transition: 1s 2s;
}
a:link { 
    color: rgb(7, 24, 7);
    text-decoration: none;
    text-shadow: 1px 5px 2px rgb(103, 133, 58);
}
a:visited {
    color: rgb(151, 34, 34);
    text-decoration: none;
    text-shadow: 1px 5px 2px rgb(206, 91, 91);
}
a:hover {
    color: red;
    text-decoration: underline;
    text-shadow: 1px 5px 2px rgb(254, 64, 64);
    transition: 0.5s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 6px solid #18a389ac;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #4b524b79;
    box-shadow: 0 0 15px #000000ac;
}
div.menu:active {
    color: black;
    opacity: 0.3;
}
h1 {
    color: #013220;
    padding: 30px;
    font-size: 35px;
    text-align:center
}